@charset "UTF-8";
/* CSS Document */

#wrapper{
	height:100%;
	width:70%;
	margin:0 auto;
}
#placeholder{
	display:block;
	height:500px;
	width:90%;
	margin:0 auto;
}
.leftYLabel{
	display:inline-block;
	float:left;
	height:100%;
	width:auto;
	margin:auto 0;
	margin-top:25%;
	margin-left:4%;
	text-align:center;
	
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: left bottom 0; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: left bottom 0; /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	transform-origin: left bottom 0;
	
}
.rightYLabel{
	display:inline-block;
	float:right;
	height:100%;
	width:auto;
	margin:auto 0;
	margin-top:25%;
	margin-right:4%;
	text-align:center;
	
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: right bottom 0; /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: right bottom 0; /* Chrome, Safari, Opera */
	transform: rotate(90deg);
	transform-origin: right bottom 0;
}
.bottomXLabel{
	display:inline-block;
	heigth:auto;
	width:100%;
	clear:both;
	text-align:center;
}
.topXLabel{
}
.chartLabel{
	display:inline-block;
	height:auto;
	width:100%;
	clear:both;
	text-align:center;
}
